{% extends 'base.html' %}

{% block content %}
    <div style="background-image: url('https://c.pxhere.com/photos/ee/fc/mountains_view_ridge_nature_landscape_outdoor_peak_mountain_top-1067092.jpg!d'); background-size: cover; background-position: center; height: 100vh; display: flex; justify-content: center; align-items: center;">
        <h1 class="text-center text-body-primary" style="color: white">{{ page.title }}</h1>
    </div>

    <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
      <p>Testing Template for Wagtail Project 🐦‍</p>
    </footer>
{% endblock %}
